@page
@model ImoHabit.Pages.Clientes.IndexModel
@{
}

<br>
<h2> Lista de Clientes </h2>
<a class='btn btn-primary btn-sm' href='/Clientes/CreatCliente'>Novo Cliente</a>
<table class="table">
    <thead>
        <tr>
            <form>
                <div class="form-group">
                    <input type="text" name="SearchName" placeholder="Nome" value="@Model.SearchName" class="form-control" />
                    <button type="submit" class="btn btn-default btn-sm" style="border: 2px solid #ccc; border-radius: 2px;">Pesquisar</button>
                </div>
            </form>
            <th>CL_ID</th>
            <th>TC_ID</th>
            <th>CP</th>
            <th>Nome</th>
            <th>Morada</th>
            <th>Contacto</th>
            <th>DataNascimento</th>
            <th>Actions</th>


        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.ListClientes)
        {
           <tr>
                <td>@item.CL_ID</td>
                <td>@item.TC_ID</td>
                <td>@item.CP</td>
                <td>@item.Nome</td>
                <td>@item.Morada</td>
                <td>@item.Contacto</td>
                <td>@item.DataNasc</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Clientes/EditCliente?CL_ID=@item.CL_ID">Editar</a>
                    <a class="btn btn-danger btn-sm" href="/Clientes/DeleteCliente?CL_ID=@item.CL_ID">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>




